/* ==========================================================================
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    Modify as content requires.
  ========================================================================== */

@media only screen and (min-width: 40em) {
  .tabs__label {
    width: 30%;
    border-top: 4px solid transparent;
  }

  .tabs__label:hover,
  .active {
    border-top: 4px solid $brand-color;
  }

  .tabs__content {
    padding: 1em 5%;
  }

  .article {
    text-align: justify;
  }

  .article:hover {
    background-color: $selection-color;
  }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
